<div class="jumbotron">
  <center><h2><%= @project.title %></h2></center>
</div>


<% if @project.volunteers.any?() %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers.each() do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>

<% else %>
  <p>There are no volunteers on this list.</p>
<% end %>

<form action="/projects/:id" method="post">

  <input id="project_id" name="project_id" type="hidden" value=" <%= @project.id() %>">

  <label for="volunteer_name">Name</label>
  <input id="volunteer_name" name="volunteer_name" type="text">
  <button type="submit" class="btn">Add New Volunteer</button>
</form>
<br>
<br>
<button type="button" class="btn" name="button"><a href="/projects/<%= @project.id %>/edit">Edit Project</a></button>
<br>
<br>
<div class="container">
  <a href="/"><button class="btn">Home</button></a>
</div>
